<?xml version="1.0" encoding="utf-8"?>
<MarsPlay>
	<PedrDirectory>E:\Mars\Pedr_BIN\</PedrDirectory>
	<OrbitStart>0</OrbitStart>
	<OrbitEnd>1000</OrbitEnd>
	<OrbitpointStep>20</OrbitpointStep>
	<PalettSize>1024</PalettSize>
	<Palette>
		<Color Height="-32565">0x80FF80</Color>
		<Color Height="     0">0x0000FF</Color>
		<Color Height=" 21180">0xFF8080</Color>
	</Palette>
</MarsPlay>